<div class="container">
  <h1 class="mt-5">Welcome to Riskometer</h1>
  <p class="lead">Estimate the warranty risk level for your products</p>

  <hr>

  <h2>Start</h2>
  <p>Start estimating risks for a certain category.</p>
  <a href="/start" class="btn btn-primary mb-3">Start</a>
  <hr>

  <h2>Questions</h2>
  <p>Manage the questions to estimate the risk level of your products.</p>
  <a href="/questions" class="btn btn-secondary mb-3">Manage Questions</a>

  <hr>

  <h2>Warranty Plans</h2>
  <p>Manage the warranty plans and their coverage and refund options.</p>
  <a href="/warranty_plans" class="btn btn-secondary mb-3">Manage Warranty Plans</a>
</div>
